html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #111;
  color: #eee;
}

a {
  text-decoration: none;
  color: #FFCD42;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}
